<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientlib.js @ categories='granite.csrf.standalone'}"/>
<sly data-sly-call="${clientlib.js @ categories='bhargav-myOwn.resourceTypeServlet'}"/>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h2>My own ResourceType post Servlet component</h2>

<div class="product-search">

    <label for="firstName">Give the Name</label>
    <input
            type="text"
            id="firstName"
            placeholder="Enter Product ID">

    <button id="btnSearch" data-resource-path="${resource.path}">
        Get The Email Id
    </button>

    <div id="result" class="result"></div>

</div>

</body>
</html>
