<!--BHARGAVSESHADRI
STEP:3(LAST STEP) FETCHING DATA FROM THIRD PART API (step:1 com/aem/geeks/core/models/impl/ExternalAPIDemoModelImpl.java)
-->

<!--Step : 2 (Last step)- Including Client Library : We have to add the below lines to include clientlibs and the
    link between our comp and clientlib is the "Categories"-->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientlib.css @ categories='bhargav.apiStyles'}"/>

<div
        data-sly-use.obj="com.aem.geeks.core.models.ExternalAPIDemoModel"
></div>

<h1>API RELATED COMPONENT - BHARGAV</h1>

<p>ID: ${obj.id}</p>
<p>Name: ${obj.name}</p>
<p>Number: ${obj.number}</p>
<p>Street: ${obj.street}</p>
<p>city: ${obj.city}</p>
<h3>-------------------------------</h3>

======================FETCHING EXTERNAL API DATA using ACCESS TOKEN=============================
<!--BhargavSeshadri - STEP: 4 - By using a HTL in component, we render the data we got from the api
For step:3 -> com/aem/geeks/core/models/UserAPISlingModel.java
-->

<sly data-sly-use.model="com.aem.geeks.core.models.UserAPISlingModel">

    <div class="dummyjson-card">
    	<img src="${model.imageUrl @ context='uri'}" alt="${model.firstName}"/>
        <h2>${model.firstName} ${model.lastName} (${model.maidenName})</h2>
        <ul class="dummyjson-card-data">
            <li><strong>Age:</strong> ${model.age}</li>
            <li><strong>Gender:</strong> ${model.gender}</li>
            <li><strong>Email:</strong> ${model.email}</li>
            <li><strong>Phone:</strong> ${model.phone}</li>
            <li><strong>Username:</strong> ${model.username}</li>
            <li><strong>Password:</strong> ${model.password}</li>
            <li><strong>Birth Date:</strong> ${model.birthDate}</li>
        </ul>
    </div>


    <!--Just for testing purposes : Here I am printing the response json here directly on page-->
    <div class="dummyjson-component">
        <h3>DummyJSON: /auth/me response</h3>
        <pre>${model.meJsonString @ context='text'}</pre>
    </div>
</sly>


