<h1>Bhargav Nested Composite Multifield Component</h1>

<sly data-sly-use.model="com.aem.geeks.core.models.BhargavNestedCompMultifieldModel"/>

<div data-sly-list.authoritem="${model.authors}">

    <li><b>Normal Composite Multifield Data</b></li>
    <h2>${authoritem.name}</h2>

    <p>${authoritem.email}</p>


    </br>
    <li><b>Nested Composite Multifield Data</b></li>
    <ul data-sly-list.bookitem="${author.books}">
        <li>
            ${bookitem.title} (${bookitem.year})
        </li>
    </ul>

</div>