<h1>This is Rough Component</h1>

<sly data-sly-use.model="com.aem.geeks.core.models.BhargavModelServiceClassTestingModel">
    <ul>
        <li>${model.compWorkingCheck}</li>
        <li>${model.getDataFromJavaClass}</li>
        <li>${model.getDataFromJavaClassBundleContextApproach}</li>

        </br>
        </br>
        <b>Printing the Data we send From Model to Service - Resource Approach</b>
        <li>${model.printingModelDataFromService}</li>

        </br>
        </br>
        <b>Printing the Data we send From Model to Service - Model Factory Approach</b>
        <li>${model.printingModelDataFromServiceModelFactoryApproach}</li>
    </ul>

</sly>
