<!--BhargavSeshadri -->



<div data-sly-use.books="com.aem.geeks.core.models.AuthorBooks">
    <h1>${books.authorName} Books</h1>
    ===================Multifield with single field=============
    <div data-sly-list.item="${books.authorBooks}">
         ---------------Book : ${itemList.count}--------------  <!--Here in this way we can get the count of the element -->
        <p> Book : <b>${item} </b></p>
    </div>
    <p> ALL Book : <b>${books.authorBooks @ join=', '}</b></p>

    ========================== USING MAP ================================
    <div data-sly-list.item="${books.bookDetailsWithMap @ begin = 0, end = 3}">  <!--BhargavSeshadri - So here The item will get the complete MAP value in every iteration, AND THE "ITEM HERE CONTAINS THE KEY OF THE MAP" -->
                                                                                 <!--@ begin = 0, end = 3, using this we can control the loop execution -->


        ---------------Book : ${itemList.count}--------------
        <p>KEY:  <b>${item} </b></p>     <!--this will print only the key of the MAP, to print the value see the next line -->
        <p>VALUE:  <b>${books.bookDetailsWithMap[item]} </b></p>  <!--So here we use Map key to get the value in every iteration-->


    ========================== USING LIST WITH MAP ================================

        <p> Book : <b>${item.bookname} </b></p>
        <p> Subject : <b>${item.booksubject}</b> </p>
        <p> Publish : <b>${item.publishyear}</b> </p>
    </div>


    ========================== USING BEAN ================================
    <div data-sly-list.item="${books.bookDetailsWithBean}">          <!--Each object in the bean class gets assigned to the item -->
        ---------------Book : ${itemList.count}--------------
        <p> Book : <b>${item.bookName} </b></p>          <!--Then we can access the getter methods in this way -->
        <p> Date : <b>${'MMM dd,yyyy' @ format=item.publishDate}</b> </p>
        <p> Copies : <b>${item.copies}</b> </p>
    </div>



    ================== USING NASTED MULTIFIELD ====================
    <div data-sly-list="${books.bookDetailsWithNastedMultifield}">
        ---------------Book : ${itemList.count}--------------
        <p> Book : <b>${item.bookName} </b></p>
        <p> Subject : <b>${item.bookSubject} </b></p>
        <div data-sly-list.editon="${item.bookEditons}">
            <p> Book Editon : <b>${editon.bookEditon} </b></p>
            <p> Published Date : <b>${'MMM dd,yyyy' @ format=editon.editonDate}</b> </p>
        </div>
    </div>

</div>

================== data-sly-include ====================
<div data-sly-include="include1.html"></div>  <!--BhargavSeshadri: example for using data-sly-include, (just giving the
file name because of the file is in same directory and same component)
->So now what happens is the whole above div is replaced by the code present in "include1.html"


->Different options to use this
1) <div data-sly-include="${'include1.html' @prependPath='/files'}"></div>  ==> this will prepend the path like : "files/include1"
2) <div data-sly-include="${'include1.html' @appendPath='/files'}"></div>  ==> this will append the path like : "include1/files"
3) <div data-sly-include="${@file = 'include1.html'}"></div>  ==> it is just like including  the file, that's it
-->

================== data-sly-Resource ====================
<!--BhargavSeshadri:

EXAMPLE:1 - for using data-sly-resource, giving page path as a resource -->
<!-- -> Below I have given my authored component on one page as a resource, so now what happens is whereever you add this comp then that authored content of the
comp on that page will comes and renders in this page also -->
<!-- <div data-sly-resource="${'/content/aemgeeks/us/en/bhargavseshadritestpage/jcr:content/parsys/author_books'}"></div> -->


<!--EXAMPLE:2 - We can also use selectors to give the resource(might be useful when we want to give the path dynamically)
In this Example we gonna use selectors and also we "render the output of a file" lIke calling the file;
-> Directly we cannot call the file using data-sly-resource, we can call using "selectors"
-> I have created a file: apps/aemgeeks/components/content/author-books/dataSlyResourceTest.html we gonna print the content in that file
->IMP:  Observe below that I am giving the "page path" as a resouurce and then giving the file name in the selector-->
<div data-sly-resource="${'/content/aemgeeks/us/en/bhargavseshadritestpage/jcr:content/parsys/author_books' @ addSelectors='dataSlyResourceTest'}"></div>


<!-- -> Here I can give my page path, component, node as a resource. -->
<!-- EXAMPLE:3 -> Giving page as a resource:
-> Now what happens is the complete resource output is renders, from this component. (here the page we included is comes on the
page where we authored this comp)
-> <div data-sly-resource="${'/content/aemgeeks/us/en/bhargavseshadritestpage'}"></div>
-->


<!-- EXAMPLE:4 -- We can also restrict the Resource when it has only some particular given "slingResourceType (our component path)"
-> so now it only renders the content of the resource we given when it have the mentioned "slingResourceType"
-> <div data-sly-resource="${'/content/aemgeeks/us/en/bhargavseshadritestpage/jcr:content/parsys/author_books' @ resourceType='aemgeeks/components/content/author-books'}"></div>
-->


<!-- EXAMPLE:5 (MOST COMMON): We can also add component using this
-> Below example we are saying add the component(author-books) at the path bhargavseshadritestpage (our page path)
<div data-sly-resource="${@ path='bhargavseshadritestpage', resourceType='aemgeeks/components/content/author-books'}"></div>
-->

================== GLOBAL OBJECTS DEMO ====================
<!--BhargavSeshadri
Properties: we can get the data which they have given in the dialog box of that component on that page.
-> In the below we are getting the value of the authorname given in the dialog -->
<div><p>Dialog: ${properties.authorname}</p></div>

<!--pageProperties: we can get the data or the info of the PAGE using this -->
<div><p>Page Properties : <b> ${pageProperties.jcr:title}</b></p></div>

<!--inheritedPageProperties: we can get the data or the info of the PARENT PAGE using this
-> If there is one property that is not available on the your page and that property is available in your parent page, then we can use this object
-> Note: if that property is available in our local page then it will give that local page prop value-->
<div><p>Inherited Page Properties : <b> ${inheritedPageProperties['jcr:title']}</b></p></div>




