<!--COMMENTING THE DEFAULT CODE GIVEN BY MAVEN-->
<div class="cmp-helloworld" data-cmp-is="helloworld">
    <h2 class="cmp-helloworld__title">Hello World Component</h2>
    <div class="cmp-helloworld__item" data-sly-test="${properties.text}">
        <p class="cmp-helloworld__item-label">Text property:</p>
        <pre class="cmp-helloworld__item-output" data-cmp-hook-helloworld="property">${properties.text}</pre>
    </div>
    <div class="cmp-helloworld__item" data-sly-use.model="com.aem.geeks.core.models.HelloWorldModel" data-sly-test="${model.message}">
        <p class="cmp-helloworld__item-label">Model message:</p>
        <pre class="cmp-helloworld__item-output"data-cmp-hook-helloworld="model">${model.message}</pre>
    </div>
</div>



<!--IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII -->
<!--BHARGAVSESHADRI
STEP:3(LAST STEP) FETCHING DATA FROM THIRD PART API (step:1 com/aem/geeks/core/models/impl/ExternalAPIDemoModelImpl.java)
-->
<!--<div
        data-sly-use.obj="com.aem.geeks.core.models.ExternalAPIDemoModel"
></div>
<p>ID: ${obj.id}</p>
<p>Name: ${obj.name}</p>
<p>Number: ${obj.number}</p>
<p>Street: ${obj.street}</p>
<p>city: ${obj.city}</p>-->

<!--IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII -->

