<h1>Personal Component - Bhargav</h1>


<!--****************************** Normal OSGI Configuration related code *********************************************************************************-->
==========Basic Sling Model Output=============
<div data-sly-use.obj="com.aem.geeks.core.models.ProductModel">  <!--BhargavSeshadri - Sling Model - Step:5(Last Step) - Rendering the Values in HTL Script; (for step:4 go to sling model- com/aem/geeks/core/models/impl/ProductModelImpl.java)-->
    <li>${obj.getProductName}</li>
    <li>${obj.getProductPrice}</li>
    <li>${obj.manufacturerName}</li>
    <li>${obj.getCurrentPageTitle}</li>
    <li>${obj.returnName}</li>
    <img src="${obj.productImageReference @ context='uri'}" alt="Product Image"/>


    <!--****************************** Composite Multifield related code *********************************************************************************-->
    ==========Rendering Composite Multifield using MAP=============
    <div data-sly-list="${obj.getProductDetailsWithMap}">  <!--Step:3(last step) -Composite Multifield - here we are getting the list with maps containing our values and
                                                                                            iterating here one by one and printing the values-->
        ----------Book: ${itemList.count}-----------
        <p>Product : <b>${item.productname}</b></p>
        <p>Product : <b>${item.buyername}</b></p>
        <p>Product : <b>${item.quantity}</b></p>
    </div>


<!--****************************** Normal OSGI Configuration related code *********************************************************************************-->

    ============Bhargav - Normal OSGI Configuration=================
    <div><p> Name : <b>${obj.getName}</b></p></div>       <!--BhargavSeshadri - STEP:5(last step) - Printing the values of our osgi config using our sling model(for step:4 - com/aem/geeks/core/models/impl/ProductModelImpl.java)-->
    <div><p> Number : <b>${obj.getNumber}</b></p></div>
    <div><p> Fav Movie : <b>${obj.getFavMovie}</b></p></div>
    <div><p> Run Mode : <b>${obj.runModes}</b></p></div>
    <div><b>Countries</b></div>
    <ul data-sly-list="${obj.countries}">
        <li>${item}</li>
    </ul>


<!--****************************** FACTORY OSGI Configuration related code *********************************************************************************-->
<!--BhargavSeshadri - STEP:4(last step) - Printing the values of our osgi config using our sling model(for step:4 - com/aem/geeks/core/models/impl/ProductModelImpl.java)-->

    ============Bhargav - Factory OSGI Configuration=================

    <div data-sly-list="${obj.allOSGiConfigs}">    <!--Here we are iterating through the available list, and for every iteration ITEM will have the complete data of that instance-->
        ------Config # <b>${itemList.count}</b>-----
        <div><p> Config ID: <b>${item.configID}</b></p></div>  <!--here we are getting the individual values of the item-->
        <div><p> Service Name: <b>${item.serviceName}</b></p></div>
        <div><p> Service URL : <b>${item.serviceURL}</b></p></div>
    </div>

</div>