<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientlib.css @ categories='bhargav-backend-api-comp.AembackendApiCompStyles'}"/>

<h1>bhargav-backend-aem-apis-comp</h1>


==============================================PrintingPrinting Basic Dialog Fields==============================================Printing

<div data-sly-use.obj="com.aem.geeks.core.models.BhargavBackendAemApisCompModel">
    <div class="card-style">
        <p>Person Name : <b>${obj.getPersonName}</b></p>
        <p>Father Name : <b>${obj.getFatherName}</b></p>
        <p>Average Income : <b>${obj.getAverageIncome}</b></p>

        <ul>
            <sly data-sly-list.item="${obj.getMultifieldvalues}">
                <li>${item}</li>
            </sly>
        </ul>
    </div>
</div>


==============================================Printing using Backend API's==============================================
</br>
</br>

=================================Using Resource=================================
<div class="card-style">
    <div>
        <li><b>${obj.getResourcePath}</b></li>
    </div>
    <div class="nextLine-style">
        <li><b>${obj.getResourceDetails}</b></li>
    </div>
    <div>
        <li><b>${obj.isExpectedResourceType}</b></li>
    </div>
    </br>

-> We got hold of these Child Pages of a Parent using "RESOURCE"
    <sly data-sly-list.item="${obj.getChildrenList}">
        <div><b>Name : ${item.name}</b></div>
        <div><b>Page Path: ${itemList.count} - ${item.path}</b></div>
    </sly>
</div>
</br>
</br>


=================================Using ValueMap=================================
<div class="card-style">
    <div class="nextLine-style">
        <li><b>${obj.getValueMapDetails}</b></li>
    </div>
</div>
</br>
</br>


=================================Using @ScriptVarisble=================================
<div class="card-style">
    <div class="nextLine-style">
        <li><b>${obj.getCurrentPageDetails}</b></li>
    </div>
    </br>

    -> Getting the ValueMap from Page Obj and printing the props of the Page.
    <div class="nextLine-style">
        <li><b>${obj.getPropsUsingValueMap}</b></li>
    </div>
    </br>

    -> Printing all Child Pages
    <sly data-sly-list.item="${obj.childPageDetails}">
        <li>Page : ${itemList.count} : <b> ${item}</b></li>
    </sly>
</div>