<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientlib.js @ categories='granite.csrf.standalone'}"/>
<sly data-sly-call="${clientlib.css @ categories='bhargav-backend-api-comp.AembackendApiCompStyles'}"/>
<sly data-sly-call="${clientlib.js @ categories='bhargav-backend-api-comp.AembackendApiCompStyles'}"/>

<h1>bhargav-backend-aem-apis-comp</h1>


================Printing Basic Dialog Fields==============================================

<div data-sly-use.obj="com.aem.geeks.core.models.BhargavBackendAemApisCompModel">
    <div class="card-style">
        <p>Person Name : <b>${obj.getPersonName}</b></p>
        <p>Father Name : <b>${obj.getFatherName}</b></p>
        <p>Average Income : <b>${obj.getAverageIncome}</b></p>

        <ul>
            <sly data-sly-list.item="${obj.getMultifieldvalues}">
                <li>${item}</li>
            </sly>
        </ul>
    </div>
</div>


================Printing using Backend API's=======================================

</br>

================Using Resource=================================
<div class="card-style">
    <div>
        <li><b>${obj.getResourcePath}</b></li>
    </div>
    <div class="nextLine-style">
        <li><b>${obj.getResourceDetails}</b></li>
    </div>
    <div>
        <li><b>${obj.isExpectedResourceType}</b></li>
    </div>
    </br>

-> We got hold of these Child Pages of a Parent using "RESOURCE"
    <sly data-sly-list.item="${obj.getChildrenList}">
        <div><b>Name : ${item.name}</b></div>
        <div><b>Page Path: ${itemList.count} - ${item.path}</b></div>
    </sly>
</div>
</br>
</br>


================Using ValueMap=================================
<div class="card-style">
    <div class="nextLine-style">
        <li><b>${obj.getValueMapDetails}</b></li>
    </div>
</div>
</br>
</br>


================Using @ScriptVarisble=================================
<div class="card-style">
    <div class="nextLine-style">
        <li><b>${obj.getCurrentPageDetails}</b></li>
    </div>
    </br>

    -> Getting the ValueMap from Page Obj and printing the props of the Page.
    <div class="nextLine-style">
        <li><b>${obj.getPropsUsingValueMap}</b></li>
    </div>
    </br>

    -> Printing all Child Pages
    <sly data-sly-list.item="${obj.childPageDetails}">
        <li>Page : ${itemList.count} : <b> ${item}</b></li>
    </sly>
    </br>

    -> Using Page Manager API.
    <div class="nextLine-style">
        <li><b>${obj.getPageDetailsUsingPageManager}</b></li>
    </div>
</div>
</br>
</br>

================Printing the info using SlingHttpServletRequest request================
<div class="card-style">
    <div class="nextLine-style">
        <li><b>${obj.usingGetParameter}</b></li>
        <li><b>${obj.getPath}</b></li>
        <li><b>${obj.getRequestHeader}</b></li>
        <div data-sly-list.item="${obj.getSelectors}">
            <li>Selector - ${itemList.count} : <b>${item}</b></li>
        </div>
    </div>

</div>
</br>
</br>

================Button - To add node prop to the resource using servlet================
<!--Step : 1 - BhargavPropBtnPathServlet : creating the button
    Step : 2 - apps/aemgeeks/components/bhargav-backend-aem-apis-comp/clientlib/BhargavPropBtn.js
-->
<div class="my-component">

    <button class="add-property-btn" data-resource-path="${resource.path}">
        Add Property
    </button>

    <p class="property-status"></p>

</div>