<h1>bhargav-backend-aem-apis-comp</h1>


==========Printing Basic Dialog Fields=============

<div data-sly-use.obj="com.aem.geeks.core.models.BhargavBackendAemApisCompModel">
    <p>Person Name : <b>${obj.getPersonName}</b></p>
    <p>Father Name : <b>${obj.getFatherName}</b></p>
    <p>Average Income : <b>${obj.getAverageIncome}</b></p>

    <ul>
        <sly data-sly-list.item="${obj.getMultifieldvalues}">
            <li>${item}</li>
        </sly>
    </ul>
</div>


==========Printing using Backend API's================================================
</br>
===Using Resource===
<div><b>${obj.getResourcePath}</b></div>
<div style="white-space: pre-line;"><b>${obj.getResourceDetails}</b></div>

</br>
</br>
===Using ValueMap===
<div style="white-space: pre-line;"><b>${obj.getValueMapDetails}</b></div>