<h1>Composite Multifield Component</h1>


<h2>====Printing Using Approach 1 (Using @ChildResource Annotation)====</h2>
<!--Step: 2 -data-sly-template usecase -  importing the file and calling the file-->
<sly data-sly-use.model="com.aem.geeks.core.models.BhargavCompositeMultifieldModel"

     data-sly-use.bhargavHtlTemplateObj="bhargav-reusable-code.html">

    <sly data-sly-list.item="${model.getItems}">
        <div data-sly-call="${bhargavHtlTemplateObj.compMultifieldTemplate @ itemNeeded = item, bhargavCount = itemList}"></div>
    </sly>
</sly>



</br>
</br>
</br>

<!--Step : 3 - Render the Multifield data in HTL : apps/aemgeeks/components/content/bhargav-compmultifield/bhargav-compmultifield.html
Step:2 - Sling Model to for the Composite Multifield - com/aem/geeks/core/models/impl/compositemultifieldrltd/BhargavCompMultifieldSecond.java-->

<h2>====Printing Using Approach 2 (Using Map and ValueMap)====</h2>
<sly data-sly-use.obj="com.aem.geeks.core.models.BhargavCompMultifieldSecond">

    <div data-sly-list.item="${obj.getProductDetailsWithMap}">
        ----------Count: ${itemList.count}-----------
        <p>Que : <b>${item.question}</b></p>
        <p>Answer : <b>${item.answer}</b></p>

        <!--data-sly-test usage-->
        <p data-sly-test.hasModel="${obj}">There</p>
        <p data-sly-test="${!hasModel}">Not There</p>
    </div>
</sly>