<!--BhargavSeshadri -
>>STEP:2 - Getting the file where we defined the template || data-sly-use.headObj="head.html" :: In this line we are getting the file
            where our template(reusable code) is present ||
 headObj : this is just a variable we are created here -->

<!--STEP:3 (Last Step) - Calling the template || data-sly-call="${head.head @ page = page}"  :: Here in this line we are saying from -> head(the
                            variable we have created in step:2 and assigned a file to it) that file -->
<!--get me ->head(This the variable we have given to our template in the step:1(data-sly-template.head)) template.
calling that needs a parameter(@ page) so give it @ page = page (simply we are assigning our sling model object to that variable, in a way sending
to that template so that it can use) -->

<!-- Note: Passing only sling object is not a necessary, we can pass whatever we want to that template. -->


<!DOCTYPE HTML>
<html data-sly-use.pageObj="com.adobe.cq.wcm.core.components.models.Page" lang="${page.language}"
      data-sly-use.headObj="head.html"
      data-sly-use.footer="footer.html"
      data-sly-use.redirect="redirect.html">
    <head data-sly-call="${headObj.head @ page = pageObj}"></head>
    <body class="${page.cssClassNames}" id="page-top">
        <sly data-sly-test.isRedirectPage="${page.redirectTarget && (wcmmode.edit || wcmmode.preview)}"
             data-sly-call="${redirect.redirect @ redirectTarget = page.redirectTarget}"></sly>
        <sly data-sly-test="${!isRedirectPage}">
            <sly data-sly-include="body.html"></sly>
            <sly data-sly-call="${footer.footer @ page = page}"></sly>
        </sly>
    </body>
</html>
